{namespace hello.view}

{template main}
	  <html>
		<head>
			<title> {$title} Hello</title>
		</head>
		<body>
			{$body | noAutoescape}	What the hell		
		</body>
	</html>
{/template}

{template check_outs}
	  <h1>CHECK_OUT:</h1>
	  <ul>
		{foreach $something in $check_outs}
			 <li>{$something}</li>
		{/foreach}
	  </ul>
{/template}